@using AllAboutDogs.Shared;
@inject HttpClient Http;
 
    <div class="custom-card">
    <div class=" image-container">
        
        <img src="@doggy.imageURL" alt="@doggy.breedName" class="image-card" />
        

    </div>
    <div>
        <h3 class="card-title">@doggy.breedName</h3>
        <div class="info">
            <p>Breed Group: @doggy.breedGroup</p>
            <p>Bred For: @doggy.bredFor</p>
            <p>Height: @doggy.MinHeight - @doggy.MaxHeight</p>
            <p>Weight: @doggy.MinWeight - @doggy.MaxWeight</p>
            <p>Lifespan: @doggy.MinLife - @doggy.MaxLife</p>
        </div>
    </div>
    </div>
    

@code {
    [Parameter]
    public string breedName { get; set; } = "";

    public Dog doggy = new();



    protected override async Task OnInitializedAsync()
    {

        doggy = await Http.GetFromJsonAsync<Dog>($"/api/DogList/SingleDog?breedName={breedName}");
       

        await base.OnInitializedAsync();

    }



    
}